nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
  height: max-content;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

nav > * {
  margin: 1.5rem;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 18px;
}

nav button {
  background-color: transparent;
  margin: 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  color: inherit;
}

.color-icon {
  margin-right: 0.5rem;
}
