:root {
  --primary: #e84e8a;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: #fff;
  height: max-content;
}

nav > * {
  margin: 1.5rem;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 18px;
}

.back-btn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-inline: 1.7rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  color: inherit;
}