:root {
  --primary: #e84e8a;
}

body, html {
  background-color: var(--primary);
  color: #fff;
  overflow-x: hidden;
}

#current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 104px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
}

#current span {
  margin: 0 0.5rem;
}

#filter {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

select {
  margin: 0;
  width: 50%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  color: inherit;
  background-color: transparent;
  text-transform: capitalize;
}

/* add background color to drop down */
select option {
  background-color: var(--primary);
  border: none;
  outline: none;
}

/* change color of highlighted option */
select option:hover {
  box-shadow: 0 0 10px 100px #ff5697 inset;
}

select option:focus {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

li {
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49.52%;
  height: 145px;
}

li button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
}

/* color 1, 5, 9 etc */
li:nth-child(4n + 1) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* color 2, 6, 10 etc */
li:nth-child(4n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.province {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 84px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
}

#day-head {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.stage {
  margin: auto;
  margin-left: none;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.outage {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  padding-right: 3rem;
}

.outage:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.17);
}
